<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/exampleContact.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gluten:wght@300&display=swap" rel="stylesheet">
    <title>Contact The Foster</title>
</head>
<body>
</head>
<body>
${nav}
${mobilenav}
<a href="/" class="back-button"><i class="fa-solid fa-arrow-left fa-3x"></i></a></div>
    <div class="celebration">You Chose ${pet.name}</div>
    
    <div class="email-form">
        <form class="form" action="/contact/pet/${petId}" method="POST">
            <label for="emailText">Enter your message:</label><br><br>
            <textarea id="emailText" name="body" rows="4" cols="50" placeholder="Let the owner know you're interested in adopting!"></textarea><br><br>
            <input type="submit" value="Send Email">
        </form>
    </div>
</body>
<script src="https://kit.fontawesome.com/8cee7d6611.js" crossorigin="anonymous"></script>
</html>
