<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/petProfile.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gluten:wght@300&display=swap" rel="stylesheet">
    <title>Pet Profile</title>
  </head>
  
  <body>
    ${nav}
    ${mobilenav}
    <div class="main">
      <div class="pic-and-bio">
          <!-- <div class="pic">
              <img class = "profile-pic" src="${pet.imageURL}" alt="${pet.name}">
          </div> -->
          <div class="info">
              <h1 class = "name">${pet.name}</h1>
              <p class = "bio">${pet.bio}</p>
          </div>
      </div>
      <div class="info-adopt">
          <div class="animal-info">
              <div class="stat">
                <span class = "label">Age</span>
                ${pet.age} 
              </div>
              <div class="stat">
                <span class = "label">Weight</span>
                ${pet.weight} Lbs
              </div>
              <div class="stat">
                <span class = "label">Sex</span>
                ${pet.gender} 
              </div>
          </div>
          <div class="adopt">
            <a href="/contact/pet/${pet.id} "><button class="card-button">Ask to Adopt Me!</button></a>
          </div>
      </div>
  </div>

  </body>
  <script src="https://kit.fontawesome.com/8cee7d6611.js" crossorigin="anonymous"></script>

  
</html>